* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

div#container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 35px;
  padding: 15px;
}

div.image {
  max-width: 50%;
  width: 50%;
  max-height: 100vh;
  flex-shrink: 1;
  object-fit: cover;
}

div.image img.desktop-image {
  position: fixed;
  left: 0;
  right: auto;
  max-width: 50%;
  width: 47%;
  max-height: 100vh;
  z-index: -1;
}

div.image img.mobile-image {
  display: none;
  max-width: 100%;
  width: 100vw;
  min-width: 100%;
  max-height: 200px;
}

div#form {
  max-width: 50%;
  width: 50%;
  padding: 20px;
}

div.txt {
  max-width: 350px;
  height: 78px;
  margin-bottom: 40px;
}

div.txt h1 {
  font-weight: 400;
  font-size: 1.88rem;
  line-height: 37.8px;
}

div.txt p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #808080;
  line-height: 25.2px;
}

form {
  width: 100%;
  max-width: 100%;
}

label {
  display: block;
  line-height: 18.9px;
  font-weight: 600;
  padding: 10px 0;
}

input {
  border: 0;
  outline: 0;
  background-color: #d9d9d9;
  width: 100%;
  max-width: 100%;
  height: 45px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
}

#createPasswrd {
  margin-bottom: 15px;
}

div.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

div.password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

div.password input {
  width: 100%;
  max-width: 100%;
}

.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.password-rules-container {
  display: none;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
}

.password-rule {
  width: 135px;
  height: 23px;
  background-color: rgba(170, 170, 170, 0.5); /* Red for unmet rule */
  border: 1px solid rgba(61, 68, 73, 1);
  padding: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  line-height: 12.6px;
  border-radius: 10px;
  margin-top: 5px;
}

.password-rule.met {
  background-color: rgba(0, 128, 0, 0.2); /* Green for met rule */
}

.show {
  width: 45px;
  height: 45px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}

button {
  border: 0;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 55px;
  /* padding: 15px 222px; */
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  cursor: pointer;
}

p.error-message {
  display: none;
  max-width: fit-content;
  height: 23px;
  background-color: whitesmoke;
  color: red;
  border: 1px solid rgba(61, 68, 73, 1);
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 12.6px;
  border-radius: 10px;
  margin: 15px 0 5px;
}

@media screen and (max-width: 768px) {
  div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 0 15px;
    width: 100%;
    max-width: 100vw;
  }

  div#container div.image,
  div#container div#form {
    width: 100%;
    max-width: 100%;
  }

  img.desktop-image {
    display: none;
  }

  div.image img.mobile-image {
    display: block;
  }

  div.txt p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 355px) {
  div.txt p {
    font-size: 0.8rem;
  }

  div.check span {
    font-size: 0.55rem;
  }
}
