* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* :root {
        --bg-color: #111;
        --display-bg: linear-gradient(to top right, #222, #000);
        --btn-bg1: linear-gradient(to bottom right, #353333, #5e5e5f);
        --btn-bg2: linear-gradient(to bottom right, #0e194e44, #0e1227);
        --btn-bg3: linear-gradient(to top right, rgb(255, 166, 0), rgb(182, 110, 22));
        --font-color: #fff;
    } */

body {
  background-image: url(../Images/dashboard.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Sora", sans-serif;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1em;
  display: flex;
  justify-content: center;
}

div.container {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hidden {
  display: none !important;
}

.logo img {
  width: 120px;
  height: 40px;
}

.category_dropdown {
  position: relative;
  width: max-content;
}

.dropdown {
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 40px;
}

.selected {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18.9px;
  color: #800080;
}

.dropdown_options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  top: 100%;
  background-color: white;
  width: 100%;
  padding: 10px;
  position: absolute;
}

.search {
  height: 40px;
  padding: 0 20px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  width: 30vw;
  gap: 10px;
  border-radius: 40px;
}

.search input {
  background: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  font-size: 1rem;
}

.search input::placeholder {
  font-weight: 600;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile_button {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 50px;
}

.profile_picture {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.user_name {
  margin: 0;
  max-width: 125px;
  /* line-height: 1rem; */
}

.theme_switch {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.theme_switch .switch {
  width: 40px;
  height: 15px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease; /* Smooth color change */
}

.theme_switch .switch .ball {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(65, 65, 65, 0.644);
  background-color: white;
  position: absolute;
  left: 0;
  transition: left 0.3s ease;
}

.theme_switch .switch.active {
  background-color: #000000;
}

.theme_switch .switch.active .ball {
  left: calc(100% - 20px);
}

img.rectangle-10 {
  margin-left: auto;
}

main#main-content {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  margin-bottom: 50px;
}

main#main-content h2 {
  color: #0000ff;
  font-size: 20px;
  font-weight: 200;
  line-height: 25.2px;
  padding: 10px 0 50px;
}

div.inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

label {
  display: block;
  line-height: 18.9px;
  font-weight: 400;
}

input {
  border: 0;
  width: 100%;
  max-width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

div.name,
div.category,
div.date,
div.buttons {
  width: 100%;
  max-width: 100%;
}

div.date div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 20px;
}

button {
  width: 100%;
  max-width: 100%;
  height: 65px;
  color: #3d4449;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 25.2px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}

button.black {
  background-color: #000000;
  color: #fff;
  font-weight: 600;
}
